

@media screen and (max-width: 1550px) {
 


}


@media screen and (max-width: 1366px) {
    .h__wrap2 {
        margin: 0 0 5px 0;
        background-image: url(../images/bg-triangles-2.svg);
        height: 189px !important;
    }

    .h__wrap3 {
        margin: 0 0 5px 0;
        background-image: url(../images/bg-triangles-2.svg);
        height: 189px !important;
    }

    .h__wrap {
        position: relative;
        background-color: #fff;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 384px;
        padding: 10px;
        background-image: url(../images/bg-triangles.svg);
    }
}

@media screen and (max-width: 1280px) {
    .lk__top {
        display: none;
    }

    .search__top {
        position: relative;
        margin: 0 55px 0 0;
    }

    .burger {
        display: block !important; 
    }

    .menu__top {
        display: none !important;
    }
}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {


    .health__subtitle {
        margin: 0 0 0px 0;
        width: 100%;
    }

    .h__wrap2 .health__subtitle2 {
        margin: 0px 0 30px 0 !important;
        width: 100%;
    }

    .h__wrap3 .health__subtitle3 {
        margin: 0 0 30px 0 !important;
        width: 100%;
    }

    .bottom__wrap {
        height: auto;
        padding-bottom: 30px;
    }

    .bottom__wrap2 {
        height: auto;
        padding-bottom: 30px;
    }

    .bottom__wrap3 {
        height: auto;
        padding-bottom: 30px;
    }

    .bottom__wrap4 {
        height: auto;
        padding-bottom: 30px;
    }

    .sc5__main {
        display: block;
    }

    .section-5 h2 {
        text-align: center;
        color: #888;
        margin: 0 0 5px 0;
    }

    .insurance__offers-list-subtitle {
        color: #888;
        margin: 0 0 14px 0;
    }
}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {
    .logo__bottom {
        margin: 0 20px 0 20px;
        width: 190px;
        height: 47px;
        background: #888;
    }
  
}

/* стили для sm-устройств */
@media screen and (max-width: 992px) {
    .work__block {
        margin: 0 0 10px 0;
    }

    .work__block2 {
        margin: 0 0 10px 0;
    }

    .section-5 h2 {
        text-align: center;
        color: #888;
        margin: 0 0 15px 0;
    }

    .sc5 {
        margin: 0 0 10px 0;
    }

    .h__wrap {
        margin: 0 0 10px 0;
    }

    .new__wrap {
        margin: 0 0 25px 0;
    }

    .bottom__wrap {
        height: auto;
        padding-bottom: 30px;
        margin: 0 0 25px 0;
    }

    .sc4__wrap {
        margin: 0 0 25px 0;
    }
    
    .menu__top {
        display: none !important;
    }
  
}


/* Ipad*/ 
@media screen and (max-width: 760px) {

    .h__wrap2 {
        margin: 0 0 5px 0;
        background-image: url(../images/bg-triangles-2.svg);
        height: auto !important;
    }

    .h__wrap3 {
        margin: 0 0 5px 0;
        background-image: url(../images/bg-triangles-2.svg);
        height: auto !important;
    }

    .h__wrap {
        height: auto;
    }

    .health__subtitle {
        margin: 0 0 140px 0;
    }

    .h__wrap2 .health__subtitle2 {
        margin: 0px 0 140px 0 !important;
    }

    .h__wrap3 .health__subtitle3 {
        margin: 0px 0 140px 0 !important;
    }


   

    .health__subtitle4 {
        margin: 0 0 140px 0;
    }

    .bottom__wrap {
        height: auto;
        padding-bottom: 30px;
        margin: 0 0 15px 0;
    }


    .bottom__wrap2 {
        height: auto;
        padding-bottom: 30px;
        margin: 0 0 15px 0;
    }

    .bottom__wrap3 {
        height: auto;
        padding-bottom: 30px;
        margin: 0 0 15px 0;
    }

    .h__wrap2 {
        margin: 0 0 10px 0;
    }

    .h__wrap3 {
        margin: 0 0 10px 0;
    }
    
    .col__bottom {
        justify-content: center !important;
    }

    .ft__title {
        font-size: 22px;
        color: #888;
        margin: 0 0 15px 0;
        text-align: center;
    }

    .menu__bottom {
        text-align: center;
        margin: 0 0 10px 0;
    }

    .col__bottom {
        justify-content: center !important;
        margin: 40px 0 0 0;
    }

    header {
        position: fixed;
        z-index: 2;
        padding: 15px 0 15px 0;
        background: url(../images/backg_03.png) 0 0 repeat;
        width: 100%;
    }

    .news__img img {
        border-radius: 15px 15px 0 0;
        height: auto;
    }

    .new__wrap {
        background-color: #fff;
        border-radius: 15px;
        flex-basis: 24%;
        padding-bottom: 30px;
        height: auto;
    }

    .burger {
      
        top: 23px;
        right: 39px;
        color: #23f0ff;
        cursor: pointer;
        z-index: 12;
        display: flex;
    }

}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
    .logo {
        background: #fff;
        width: 112px;
        height: 44px;
    }

    .section-6 .row {
        margin: 0 -1px;
    }

    .section-2 .row {
        margin: 0 -1px;
    }

    .burger {
        top: 23px;
        right: 25px;
        color: #23f0ff;
        cursor: pointer;
        z-index: 12;
        display: flex;
    }

    .main-button {
        border-radius: 7px;
        color: #000;
        width: 132px;
        height: 38px;
        border: 1px solid #000;
    }
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {

    .search__top input {
        border: none;
        border-radius: 11px;
        padding: 0 35px 0 9px;
        height: 35px;
        width: 170px;
    }


    .search__top {
        position: relative;
        margin: 0 45px 0 0;
        width: 170px;
    }


    .ft__button_wrap {
        text-align: right;
        width: 100%;
    }

    .ft__button {
        border: 1px solid #9a9a9a;
        border-radius: 9px;
        width: 100%;
        padding: 6px 0 6px 0;
        color: #888;
        margin: 0 0 13px 0;
    }

    .section-5 .row {
        margin: 0 0px;
    }

    h2 {
        font-size: 19px;
    }

    .sc4__wrap h3 {
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  .logo {
    background: #fff;
    width: 90px;
    height: 44px;
}
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {

}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}